<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DistanceField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88C2F80B1C80199A000BA8D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88C2F81E1C80199A000BA8D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88C2F8291C80199A000BA8D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
